version: '2.3'

services:
  pd0:
    image: hub.pingcap.net/tiflash/pd:191107
    ports:
      - "2379:2379"
    volumes:
      - ./config/pd.toml:/pd.toml:ro
      - ./data/pd0:/data
      - ./log/pd0:/log
    command:
      - --name=pd0
      - --client-urls=http://0.0.0.0:2379
      - --peer-urls=http://0.0.0.0:2380
      - --advertise-client-urls=http://pd0:2379
      - --advertise-peer-urls=http://pd0:2380
      - --initial-cluster=pd0=http://pd0:2380
      - --config=/pd.toml
      - --data-dir=/data
      - --log-file=/log/pd.log
    restart: on-failure
  tikv0:
    image: pingcap/tikv:latest
    ports:
      - "20160:20160"
    volumes:
      - ./config/tikv.toml:/tikv.toml:ro
      - ./data/tikv0:/data
      - ./log/tikv0:/log
    command:
      - --addr=0.0.0.0:20160
      - --advertise-addr=tikv0:20160
      - --pd=pd0:2379
      - --config=/tikv.toml
      - --data-dir=/data
      - --log-file=/log/tikv.log
    depends_on:
      - "pd0"
    restart: on-failure
  tidb0:
    image: pingcap/tidb:latest
    ports:
      - "4000:4000"
      - "10080:10080"
    volumes:
      - ./config/tidb.toml:/tidb.toml:ro
      - ./log/tidb0:/log
    command:
      - --store=tikv
      - --path=pd0:2379
      - --config=/tidb.toml
      - --log-file=/log/tidb.log
    depends_on:
      - "tikv0"
    restart: on-failure
  tiflash0:
    image: hub.pingcap.net/tiflash/tics:${TAG:-master}
    ports:
      - "3930:3930"
      - "9000:9000"
      - "8123:8123"
      - "9009:9009"
      - "20170:20170"
    volumes:
      - ./config/tiflash.toml:/config/tiflash.toml:ro
      - ./config/tiflash-users.toml:/config/tiflash-users.toml:ro
      - ./config/tikv-learner.toml:/config/tikv-learner.toml:ro
      - ./data/tiflash0:/tmp/tiflash/data
      - ./log/tiflash0:/tmp/tiflash/log
    command:
      - --config-file
      - /config/tiflash.toml
    depends_on:
      - "tidb0"
    restart: on-failure
    # tiflash-gateway0:
    #   image: tecnativa/tcp-proxy
    #   environment:
    #     LISTEN:
    #       :3930
    #       :9000
    #       :8123
    #       :9009
    #     TALK:
    #       ${TIFLASH_ADDR:-tiflash0}:3930
    #       ${TIFLASH_ADDR:-tiflash0}:9000
    #       ${TIFLASH_ADDR:-tiflash0}:8123
    #       ${TIFLASH_ADDR:-tiflash0}:9009
    #     TIMEOUT_CLIENT: 3600s
    #     TIMEOUT_CLIENT_FIN: 3600s
    #     TIMEOUT_SERVER: 3600s
    #     TIMEOUT_SERVER_FIN: 3600s
    #     TIMEOUT_TUNNEL: 3600s
    #   depends_on:
    #     - "tiflash0"
    #   restart: on-failure
