tmp_path = "/tmp/tiflash/data/tiflash/tmp"
display_name = "TiFlash"
default_profile = "default"
path = "/tmp/tiflash/data/tiflash/db"
mark_cache_size = 5368709120
listen_host = "0.0.0.0"
tcp_port = 9000
http_port = 8123
interserver_http_port = 9009
[flash]
  tidb_status_addr = "tidb0:10080"
  service_addr = "tiflash-gateway0:3930"
  [flash.flash_cluster]
    refresh_interval = 20
    update_rule_interval = 5
    master_ttl = 60
    cluster_manager_path = "../tiflash/flash_cluster_manager"
  [flash.proxy]
    addr = "0.0.0.0:20170"
    advertise-addr = "tiflash-gateway0:20170"
    data-dir = "/tmp/tiflash/data/tikv-learner"
    config = "config/tikv-learner-debug.toml"
    log-file = "/tmp/tiflash/log/tikv-learner.log"
    log-level = "debug"
[logger]
  count = 10
  errorlog = "/tmp/tiflash/log/tiflash-error.log"
  size = "1000M"
  log = "/tmp/tiflash/log/tiflash.log"
  level = "debug"
[application]
  runAsDaemon = true

[raft]
  pd_addr = "pd0:2379"

[quotas]
  [quotas.default]
    [quotas.default.interval]
      result_rows = 0
      read_rows = 0
      execution_time = 0
      queries = 0
      errors = 0
      duration = 3600
[users]
  [users.readonly]
    quota = "default"
    profile = "readonly"
    password = ""
    [users.readonly.networks]
      ip = "::/0"
  [users.default]
    quota = "default"
    profile = "default"
    password = ""
    [users.default.networks]
      ip = "::/0"
[profiles]
  [profiles.readonly]
    readonly = 1
  [profiles.default]
    load_balancing = "random"
    use_uncompressed_cache = 0
    max_memory_usage = 10000000000
